*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Nunito', sans-serif;
    color: var(--primary-text-color);
}
:root{
--primary-text-color: #303952;
--secondary-text-color: #3d465fec;
--accent-color: #8c1aff;
--accent-color-dark:  #4d0099;
--padding-inline-section: 20px;
--contact-bg-color: #9cb3d1;
}

h1{
font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
.flex{
    display: flex;
}

.container{
    max-width: 80%;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    background-color: transparent;
}


.transparent_bg{
    background-color: transparent;
}
.primary-button{
background-color: var(--accent-color);
border-radius: 6px;
font-weight: 700;
color: white !important;
padding: 12px 24px;
box-shadow: 0 0 2px var(--secondary-text-color);
transition: 0.2s ease-out;
text-align: center;
gap: 0.5vw;
}
.primary-button:hover{
background-color: var(--accent-color-dark);
}

.knowmore{
    padding: 0.8rem 1.7rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    gap: 0.5vw;
}
.knowmore a{
    font-weight: bold;
    font-size: 1.3rem;
}
.knowmore svg{
    vertical-align: baseline;
    margin-block: auto;
    /* margin-top: 0.2rem; */
}


.knowmore a, .knowmore svg{
    transition: all 0.3s ease-in-out;
    color: var(--accent-color-dark);
}

.knowmore a:hover, .knowmore svg{
    color: var(--accent-color);
}




/* Hero Section Start  */
.hero{
    width: 100%;
    position: relative;
    margin-bottom: 5vw;
}

/* navigation section */
.header-top{
    position: fixed;
    top: -1px;
    height: 6vw;
    width: 100%;
    padding: 0.3vw 1vw;
    box-shadow: 0px 0px 4px #888888;
    opacity: 0.9;
    z-index: 2;
}

.logo{
    width: 35%;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 13vw;
    mix-blend-mode: multiply;
}
.hamburger{
    display: none;
}
.nav-links{
    width: 60%;
    margin: auto;
}
.nav-links ul{
    justify-content: space-around;
}
.nav-links ul li{
    list-style: none;
}
.nav-links .active{
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color-dark);
}
.nav-links ul li a{
    font-weight: 600;
    color: var(--accent-color-dark);
    font-size: 1.4rem;
    padding: 10px;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
}
.nav-links ul li a:hover{
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color-dark);
}


/* header section */
.main-header{
    position: relative;
    margin-top: calc(5.2vw + 10px);
    align-items: center;
    justify-content: space-between;
    /* height: 90vh; */
    /* padding: 95px var(--padding-inline-section); */
}

.header-right{
    width: 48%;
    /* max-height: 80vh; */
    display: flex;   
}
.header-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header-left{
    width: 48%;
    /* max-height: 80vh; */
    padding: 0.5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.2vw;
}
.get-started-btn{  
    min-width: 27vw;
    max-height: 10vh;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hero Section end  */



/* getting section */
.getting{
    padding: 3vw 3vw;
    margin-bottom: 2vw;
    margin: 5vw 1vw;
}
.h1-container{
    align-items: center;
    justify-content: center;
    height: 5vw;
    margin-bottom: 2vw;
}
#getting-section{
    /* margin: var(--padding-inline-section) 10px 10px; */
    gap: 3vw;
    justify-content: space-around;
}

.box{
    padding: 2vw 2.5vw;
    height: 32vw;
    width: 28vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* align-self: normal; */
    border-radius: 4%;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 8px 3px #adaaaf;
}
.box .imgParent{
    height: 14vw;
    width: 14vw;
}
.imgParent img{
    height: 100%;
    width: 100%;
}
.line{
    height: 0.1vw;
    width: 60%;
    background-color: #4f59759b;
}  

/* .category section */
.category-section{
    margin-top: 5vw;
    padding: 1vw;
}
#late-h1{
    display: none;
}
.category-section .h1-container{
    margin-bottom: 5vw;
}
.alert{
    display: inline-block;
    border-top: 0.1vh solid var(--accent-color-dark);
}

.category{
    align-items: center;
    height: 30vw;
    justify-content: space-between;
    margin: 4vw;
    gap: 2vw;
}
.category-image{
    margin-top: 0.8vw;
    height: 25vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-image img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

#category-2, #category-4{
    flex-direction: row-reverse;
}

.category-content{
    width: 42vw;
    /* max-height: 25vw; */
    padding: 3vw 3vw;
    background-image: url('./img/blob.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
}
.category-content h2,p{
    background-color: transparent;
    width: 100%;
}


/* service section svg-image */
.service-section{
    margin-top: 1vw;
    height: 110vh;
    width: 100%;
    flex-direction: column;
}
.service-section .h1-container{
    align-items: center;
    justify-content: flex-start;
    padding: 0.8vw 0vw 0.5vw 2vw;
    margin-left: 3vw;
    margin-block: auto;
    width: 70%;
    height: 8vw;
    border-bottom: 1px solid var(--accent-color-dark);
}
.other-service{
    justify-content: space-around;
    gap: 10vw;
}
.other-service .knowmore{
   align-items: center;
}
.service{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.service img{
    height: 100%;
    width: 100%;
}
.service-section .mobile-Service{
    display: none;
}


/* Coutact us section */
.contact_us{
    justify-content: center;
    align-items: center;
    background-color: var(--contact-bg-color);
    width: 100%;
    margin-block: 2.5vw;
    padding-block: 2.5vw; 
    gap: 4vw;  
}
.contact_form h2{
    padding-block: 0.5vw;
    margin-bottom: 1.2vw;
    width: 60%;
    border-bottom: 1px solid var(--accent-color-dark);
    background-color: var(--contact-bg-color);
    color: #ffffff;
    word-spacing: 5px;
    text-shadow: 1px 1px 4px black;
    letter-spacing: 0.125rem;
}

.contact_form{
    background-color: var(--contact-bg-color);
    /* position: relative; */
    width: 40%;
    /* height: 85%; */
}
label{
    display: block;
    font-size: 1.3rem;
    cursor: pointer;
}
.contact_form input,.contact_form textarea{
    padding: 5px;
    font-size: 1.1rem;
    width: 85%;
    border-radius: 5px;
}
.form-group{
    padding-block: 10px;
}
.submit-button button{
    margin-block: 5px;
    padding: 7px 35px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0px 0px 3px black;
    background-color: #427ad1d6;
    transition: 0.3s ease-in-out;
}
.submit-button button:hover{
    cursor: pointer;
    background-color: #386dc2;
}
.contact_form label,.contact_form form,.contact_form .submit-button,.contact_image,.form-group{
    background-color: var(--contact-bg-color);
}
.contact_image{
    width: 45%;
    height: 45%;
}
.contact_image img{
    height: 100%;
    width: 100%;
    /* filter: brightness(0.5); */
    mix-blend-mode: multiply
}


/* footer part */
footer{
    width: 100%;
    margin-top: 2.2vw;
    padding-block: 1.5vw;
    background-color: #eeeeeefa;
}
footer .container{
    max-width: 90%;
}
.footer-section{
    justify-content: space-between;
    /* height: 95%; */
    width: 100%;
    padding: 0.5px;
}
.footer-image{
    margin: 1vw;
    height: 135px;
    width: 135px;
    padding: 23px;
    border-radius: 80px;
    /* background-color: transparent; */
    box-shadow: 0px 1px 4px 2px #bfbbbb;
}
.footer-image img{
    height: 90px;
    width: 90px;
    mix-blend-mode: darken;
}
.footer-content{
    /* height: 25vh; */
    width: 45%;
    /* background-color: transparent; */
    padding: 0.25rem;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: multiply;
    gap: 1.25rem;
    justify-content: center;
}
.footer-content h2{
    border-bottom: 1px solid var(--accent-color-dark);
}
.join-us{
    justify-content: space-evenly;
    width: 90%;
}
.join-us a{
    justify-content: center;
    align-items: center;
    /* height: 12vh;
    width: 10vw; */
}
.join-us img{
    margin: 0.25rem;;
    /* height: 11vh; */
    background-color: transparent;
    border-radius: 0.375rem;;
    transition: 0.2s ease-out;
}
.join-us img:hover{
    /* padding-bottom: 2px; */
    /* transform: skew(10deg); */
    transform: scale(1.2, 1.2);
}
.footer-links{
    width: 40%;
    justify-content: space-around;
}
.footer-links ul{
    margin-inline: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    gap: 10px;
}
.footer-links ul li{
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    font-size: 1.3rem;
}
.footerUl li a .line{
    opacity: 0;
    height: 0.1vw;
    transition: 0.3s ease-in-out;
    width: 100%;
}
.footer-links ul li a{
    color: #29324ddc;
    background-color: transparent;
}
.footerUl li  a:hover .line{
    opacity: 1;
}

.sub-footer{
    background-color: #29324d;
    width: 100%;
    padding: 0.5vw var(--padding-inline-section);
    /* height: 10vh; */
}
.sub-footer div{
    margin: 0.3vw;
    color: #ffffff;
    background-color: transparent;
}
.center{
    text-align: center;
}
.category-section .center h1{
    display: inline-block;
}
